body {
	margin: 0 auto;
	background-color: #1B1B1B;
}

h1 {
	text-align: center;
	font-family: 'Bangers', cursive;
	color: red;
	font-size: 100px;
	text-shadow: 3px -1px white;
}

button {
	margin: 10px;
	font-family: 'Michroma', sans-serif;
}



form {
	text-align: center;
}

.gif {
	padding: 25px;
}

#showsubmit {
	font-family: 'Bangers', cursive;
	    font-size: 14px;
}

.ratings {
	color: white;
}

#results {
	    width: 97%;
    margin: 0 auto;
}